.o-hidden {
  overflow: hidden;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-table-cell {
  display: table-cell;
}

/* Tablets */

@media only screen and (min-width: 480px) {
  .d-none-xs {
    display: none;
  }
  .d-block-xs {
    display: block;
  }
  .d-flex-xs {
    display: flex;
  }
  .d-table-cell-xs {
    display: table-cell;
  }
}

/* Laptops */

@media only screen and (min-width: 768px) {
  .d-none-sm {
    display: none;
  }
  .d-block-sm {
    display: block;
  }
  .d-flex-sm {
    display: flex;
  }
  .d-table-cell-sm {
    display: table-cell;
  }
}

/* Desktops, low resolution */

@media only screen and (min-width: 992px) {
  .d-none-md {
    display: none;
  }
  .d-block-md {
    display: block;
  }
  .d-flex-md {
    display: flex;
  }
  .d-table-cell-md {
    display: table-cell;
  }
}

/* Desktops, medium resolution */

@media only screen and (min-width: 1200px) {
  .d-none-lg {
    display: none;
  }
  .d-block-lg {
    display: block;
  }
  .d-flex-lg {
    display: flex;
  }
  .d-table-cell-lg {
    display: table-cell;
  }
}

/* Desktops, high resolution */

@media only screen and (min-width: 1600px) {
  .d-none-xl {
    display: none;
  }
  .d-block-xl {
    display: block;
  }
  .d-flex-xl {
    display: flex;
  }
  .d-table-cell-xl {
    display: table-cell;
  }
}
