@charset "UTF-8";

.modal {
  font-size: 2rem;
  font-family: var(--fontSans);
}

.modal,
.modal__overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal {
  position: fixed;
  z-index: 1200;
}
.modal__overlay,
.modal__content,
.close__modal {
  position: absolute;
}

.modal__overlay {
  background: hsla(208, 100%, 8%, 0.5);
}

.modal__content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background-color: var(--white);
  padding: 1em;
  box-shadow: 0 1px 5px hsla(208, 100%, 8%, 1);
  border-radius: 10px;
  width: 90vw;
  max-width: 640px;
}

.close__modal {
  right: 10px;
  top: 0px;
  font-size: 1em;
  color: var(--clr3Sat);
  opacity: 0.5;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.close__modal:hover {
  opacity: 1;
}
