@use '../../abstracts/' as *; 
.nav {
  position: relative;
  z-index: 7;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(
    hsla(207, 50%, 15%, 0.8),
    hsla(207, 50%, 15%, 1)
  );
  backdrop-filter: blur(10px);
  &__left {
    padding-bottom: 0.4em;
  }
  &__right {
    box-shadow: inset 0 1px var(--clr1DarkDesat);
    padding-top: 0.4em;
  }

  &__link {
    color: var(--white);
    padding: 1rem 2rem;
    &:visited {
      color: var(--white);
      padding: 1rem 2rem;
    }
    &:hover {
      background-color: var(--clr1VeryDarkSat);
      text-decoration: none;
    }
    &--current {
      color: var(--clr3Sat);

      @include screen-lg {
        color: var(--clr3Sat);
        
      }
    }
  }

}



.nav__home,
.nav__hamburger,

.nav__home:visited ,
.nav__hamburger:visited
{
  color: var(--white);
  padding: 1rem 2rem;
}

.nav__home:hover ,
.nav__hamburger:hover 
{
  background-color: var(--clr1VeryDarkSat);
  text-decoration: none;
}



@media only screen and (min-width: 480px) {
  .nav__home,
  .nav__hamburger,
  .nav__link {
    font-size: 0.9em;
    padding: 1rem 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .nav__home,
  .nav__hamburger,
  .nav__link {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 992px) {
  .nav__hamburger {
    display: none;
  }

  .nav__left {
    padding-bottom: 0;
  }
  .nav__right {
    box-shadow: none;
    padding-top: 0;
  }

  .nav__home,
  .nav__hamburger,
  .nav__link {
    font-size: 0.75em;
  }

}