:root {
  --t-lg-radius: 1rem;
  --t-sm-radius: 0.5rem;
}

.table {
  font-size: 1.4rem;
  text-align: left;
  width: 100%;
  border-radius: var(--t-lg-radius);
  border-spacing: 1px;
}

.table--radius tr:first-child td:first-child {
  border-top-left-radius: var(--t-sm-radius);
}

.table--radius tr:first-child td:last-child {
  border-top-right-radius: var(--t-sm-radius);
}

.table--radius tr:last-child td:first-child {
  border-bottom-left-radius: var(--t-sm-radius);
}

.table--radius tr:last-child td:last-child {
  border-bottom-right-radius: var(--t-sm-radius);
}

.table--hover tbody tr:hover {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
}

th {
  padding: 0.85em;
}

td {
  padding: 1em;
}

.table thead,
.table tr > *:not(:nth-child(2)) {
  display: none;
}

.table tbody {
  font-family: var(--fontMono);
}

.table tbody > *:nth-child(odd) {
  background-color: hsla(0, 0%, 100%, 0.65);
}

.table tbody > *:nth-child(even) {
  background-color: hsla(0, 0%, 100%, 0.45);
}

.table td span {
  display: none;
}

@media only screen and (min-width: 768px) {
  .table thead {
    display: table-header-group;
  }
  .table thead {
    font-size: 1.2em;
    color: var(--clr3DarkSat);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
  }
  th,
  td {
    white-space: nowrap;
  }
  th {
    position: relative;
    top: 5px;
  }
  .table tr > *:not(:nth-child(0)) {
    display: table-cell;
  }
  .table tr > *:nth-child(1),
  .table tr > *:nth-child(3),
  .table tr > *:nth-child(5) {
    display: none;
  }
  .table tr > *:nth-child(4) {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .table tr > *:not(:nth-child(0)) {
    display: table-cell;
  }
  .table tr > *:nth-child(1),
  .table tr > *:nth-child(3) {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .table tr > *:not(:nth-child(0)) {
    display: table-cell;
  }
  .table tr > *:nth-child(1) {
    letter-spacing: 0.05em;
  }
  .table tr > *:nth-child(3) {
    text-align: center;
  }
  .table td span {
    display: table-cell;
  }
  .table td i {
    display: none;
  }
}
