.glass {
    position: relative;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

.glass > *::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.2);
    backdrop-filter: blur(10px);
    z-index: -3;
    box-shadow: inset 1px 1px 1px hsla(0, 0%, 100%, 0.667),
      inset -1px -1px 1px hsla(207, 39%, 20%, 0.188),
      5px 5px 10px hsla(207, 39%, 20%, 0.188);
}